/* General Styles */

body {
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    background-image: url('../../assets/images/wall/17.jpg');
    position: relative;
    background-attachment: fixed;
    
   
}


/* About Page Styles */
.about-container {
   
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.3);
}



h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    animation: fadeInDown 1s ease-in-out;
}

p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    color: black;
    animation: fadeInDown 1s ease-in-out;
}

.service-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    animation: slideIn 1s ease-in-out;

}

.service-section:last-child {
    border-bottom: none;
}

.service-description {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.service-description h2 {
    color: white;
    font-size: 24px;
}

.service-image {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.service-image img {
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .service-section:nth-child(even) .service-image {
    text-align: left;
} */

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


