/* Footer CSS */
footer {
    color: black;
    font-family: Arial, sans-serif;
 
  }
  
  .footer-container {
 
    background-color: #ffffff4d;
   
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 50px;
  }
  
  .footer-container div {
    margin: 20px;
  }
  
  .footer-about h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #d8544c;
  }
  
  .footer-about p {
    font-size: 16px;
  }
  
  .footer-contact, .footer-links, .footer-services, .footer-social {
    max-width: 200px;
  }
  
  .footer-contact ul, .footer-links ul, .footer-services ul, .footer-social ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-contact li, .footer-links li, .footer-services li, .footer-social li {
    margin: 5px 0;
  }
  
  .footer-contact a, .footer-links a, .footer-services a, .footer-social a {
    color: white;
    text-decoration: none;
  }
  
  .footer-contact a:hover, .footer-links a:hover, .footer-services a:hover, .footer-social a:hover {
    text-decoration: underline;
  }
  
  .footer-legal {
    color:white;
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
    background-color: #333;
    padding: 20px;
    margin-bottom: -10px;
  }
  
  .footer-legal a {
    color: #ecf0f1;
    text-decoration: none;
  }
  
  .footer-legal a:hover {
    text-decoration: underline;
  }
  
  .footer-legal p {
    margin: 5px 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-container div {
      margin: 10px 0;
    }
  }
  